<div class="container" style="margin-top: 2%; margin-bottom: 2%">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6  border border-primary rounded">
      <h2>Edit <%= resource_name.to_s.humanize %></h2><hr>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :name,
                      required: true,
                      autofocus: true%>
          <%= f.input :username,
                      required: true,
                      autofocus: true %>
          <%= f.input :email,
                      required: true,
                      autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-info btn-md" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
