<div class="container auth-container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6  border border-primary rounded">
      <h2 class="text-center">Sign up</h2><hr>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "fullname" },
                      label: false,
                      placeholder: "Full Name"%>
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username" },
                      label: false,
                      placeholder: "User Name"%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: false,
                      placeholder: "Email"%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label: false,
                      placeholder: "Password"%>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: false,
                      placeholder: "Confirm Password"%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign Up", class: "btn btn-info btn-md" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
