
<div class="container auth-container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 border border-primary rounded">
      <h2>Resend unlock instructions</h2><hr>

      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Resend unlock instructions" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
