<% if user_signed_in? %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name, class: "rounded-circle") %>
          </div>
          <div class="col-md-10">
            <%= render 'form'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>

<div class="row">
  <div class="col-md-12">
    <% @tweets.each do |tweet| %>
    <br>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 text-center">
            <%= gravatar_image_tag(tweet.user.email, size: 64, alt: tweet.user.name, class: "rounded-circle") %><br><br>
            <% if user_signed_in? %>
            <p>
              <%= link_to tweet do%>
                <span><i class="fa fa-link" aria-hidden="true"></i></span>
              <%end%>
            </p>
            <p>
              <%= link_to edit_tweet_path(tweet) do%>
                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
              <%end%>
            </p>
            <p>
              <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              <%end%>
            </p>
            <%end%>
          </div>
          <div class="col-md-10">
            <p>
              <strong><%= tweet.user.name %></strong><br>
              <span class="text-muted">@<%= tweet.user.username %></span>
            </p>
            <p><%= tweet.tweet.gsub(/^(.{400,}?).*$/m,'\1...') %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
