<ul class="list-group">
  <li class="list-group-item active">Yoy may follow</li>
  <li class="list-group-item">
    <img src="https://via.placeholder.com/32x32" alt="img" class="rounded-circle">
    <strong>Jhon Doe</strong>
    <span class="text-muted">dummy@gamil.com</span>
  </li>
  <li class="list-group-item">
    <img src="https://via.placeholder.com/32x32" alt="img" class="rounded-circle">
    <strong>Jhon Doe</strong>
    <span class="text-muted">dummy@gamil.com</span>
  </li>
  <li class="list-group-item">
    <img src="https://via.placeholder.com/32x32" alt="img" class="rounded-circle">
    <strong>Jhon Doe</strong>
    <span class="text-muted">dummy@gamil.com</span>
  </li>
</ul>
