<%= simple_form_for @tweet do |f| %>
  <%= f.error_notification%>
  <%= f.input :tweet, placeholder: "Write a new tweet...", label: false, input_html: {rows: "4"} %>
  <div class="text-right">
    <%= f.button :submit, class: "btn btn-info btn-sm" %>
  </div>

<% end %>
