<div class="card">
  <div class="card-header bg-primary text-light">
    Featured
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name, class: "rounded-circle") %>
      </div>
      <div class="col-md-8">
        <p style="padding-top: 10%">
          <strong><%= current_user.name %></strong><br>
          <span class="text-muted">@<%= current_user.username %></span>
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4 text-center">
        <p><strong>Tweets</strong></p>
        <span class="text-success"><%= current_user.tweets.count%></span>
      </div>
      <div class="col-md-4 text-center">
        <p><strong>Followers</strong></p>
        <span class="text-info">125</span>
      </div>
      <div class="col-md-4 text-center">
        <p><strong>Following</strong></p>
        <span class="text-danger">221</span>
      </div>
    </div>
  </div>
</div>
