<ul class="list-group">
  <li class="list-group-item active">Trending</li>
  <li class="list-group-item">Trending Item 1</li>
  <li class="list-group-item">Trending Item 2</li>
  <li class="list-group-item">Trending Item 3</li>
  <li class="list-group-item">Trending Item 4</li>
</ul>
