<div class="container-fluid" style="margin-top: 10px">
  <div class="row">
    <div class="col-md-3">
      <% if user_signed_in? %>
        <%= render 'profile'%>
      <%else%>
        <%= render 'trending'%>
      <%end%>
    </div>
    <div class="col-md-6">
      <%= render 'feed' %>
    </div>
    <div class="col-md-3">
      <%= render 'follow_suggestion' %>
    </div>
  </div>
</div>
