<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Tweet:</strong>
    <%= @tweet.tweet %>
  </p>

  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
  <%= link_to 'Back', tweets_path %>
</div>
