<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
    <%end%>
    <% if flash[:alert]%>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <%end%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Tweet App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tweets/new">Create Tweet</a>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item dropdown text-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Update Profile", edit_user_registration_path, class: "dropdown-item"%>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
            </div>
          </li>
          <%else%>
          <li class="nav-item dropdown text-rigt">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Sign In", new_user_session_path, class: "dropdown-item"%>
              <%= link_to "Sign Up", new_user_registration_path ,class: "dropdown-item"%>
            </div>
          </li>
          <%end%>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
